.wrapper_signup {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e0ecf4;
  font-family: 'Comfortaa';
}
.logo_signup {
  font-family: "Pacifico";
  font-size: 100px;
}
.container_signup {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 15px 10px 20px rgb(157, 157, 157);
  border-radius: 30px;
  background-color: rgb(192, 216, 241);
}
.p_signup{
  display: flex;
}
.head_signup {
  font-size: 50px;
  color: #072032;
}
.SignUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: 100%;
}

.input_signup{
  height: 35px;
  width: 300px;
  border-radius: 8px;
  padding-left: 10px;
  font-size: 18px;
  background-color: rgb(243, 246, 249);
  border: none;
  outline: none;
}
.input_signup::placeholder {
  color: #948989;
  font-style: italic;
  font-family: "Comfortaa", cursive;
  font-weight: 600;
  font-size: 14px;
}
.button_signup{
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #094d7d;
  color: #ffffff;
  border-radius: 20px;
  border: 0px;
  font-size: 17px;
  font-family: 'Comfortaa';
}
.button_signup:hover {
  background-color: #072032;
}
.t_signup{
  font-weight: bolder;
  margin-left: 5px;
  font-size: large;
  text-decoration: underline;
  font-size: small;
  color: black;
}
.p_signup{
  font-style: italic;
  font-size: small;
}
