.BillingContainer{
    margin: 20px var(--mayo);
    font-family: 'Comfortaa';
    background-color: var(--mayo);
}
.BillingContainerChild1{
    display: flex;
    gap: 20px;
    font-family: 'Comfortaa';

}
.total_billing{
    display: flex;
    justify-content: space-between;
}
.TotalContainer{
    background-color: var(--pista);
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;
    flex: 1;
    height: 24px;
}
.billing_rows{
    padding: 5px;
}
.btnContainer{
    padding-right: 20px;
}
.Bill_Add_Button{
    background-color: var(--lgreen);
    border-radius: 10px;
    max-width: 150px;
    border: none;
    color: #000000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    min-width: 100px;
}
.Bill_Add_Button:hover{
    background-color: #66b57d;
}
.TableBodyContainer{
    background-color: var(--lavender);
    height: 450px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
    border-radius: 10px;
    overflow-x: hidden;
}
.Productinfo{
    flex-grow: 2;
    font-family: 'Comfortaa';
}

.th_billingtable{
    z-index: 1;
    position: sticky;
    top:0px;
    padding: 10px;
    width: 250px;
    font-size: 20px;
    border-bottom: 1px dotted black;
    text-align: left;
}

.Billingtable{
    border: 4px solid black;
    margin-top: 20px;
}
.Table{
    min-width: 100%;
}

tfoot tr{
    position: sticky;
    bottom: 0px;
    z-index: 1;
    background-color: white;
}

.BillingHeader{
    font-size: 40px;
    font-weight: bolder;
    height: 90px;
    display: flex;
    align-items: center;
    color: var(--tar);
}

.Product_Add_Button{
    background-color: #2b7ab2;
    border-radius: 27px;
    max-width: 190px;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 4px;
    min-width: 100px;
    cursor: pointer;
    width: 140px;
}
.Product_Add_Button:hover{
    background-color: #135788;
}
.Inner_Child_1{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-right: 10px;
}

.Product_Add_Button_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}