th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;

  }
    
  td {
    text-align: center;
    /* border: 2px solid black; */
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
  .Table {
    width: 100%;
    height: 100%;
  }
  .Billingtable{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }