.minus_minus{
    background-color: var(--sunset);
    text-align: center;
    padding: 9px 18px;
    border-radius: 50%;
    font-weight: 1500;
    font-size: 20px;
    color: #000000;

    border: none;
    width: 200px;
    height: 40px;
    padding: 7px 7px;
  }
  /*background-color: #9cadce;
  color: var(--mayo);
  border: none;
  width: 200px;
  height: 40px;
  padding: 7px 7px;
  border-radius: 7px;
  font-weight: 700;
  font-family: "Comfortaa", cursive;
  font-size: 22px;
  margin-left: 200px;
  cursor: pointer;*/