
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
  body{
     background-color: #ffffff;
  }
  .wrapper{
    display: flex;
    position: relative;
  }
  
    .logo {
      display:flex;
      font-family:'Pacifico';
      font-size: 50px;
      align-self: center;
      margin: 10px 0px 20px 0px;
    }
  
  .main_content{
    width: 100%;
    font-family: 'Comfortaa';
    margin-left: 80px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 30px;
  }
  

  .info{
    border-radius: 20px;
    margin: 10px;
    padding: 30px;
    background-color: #D7F0FE;
    color: #717171;
    line-height: 25px;
  }
  
  .wrapper .main_content .info div{
    margin-bottom: 20px;
  }
  
  