.wrapper_Column {
  width: 100%;
  height: 100vh;
  font-family: comfortaa;
  padding: 20px;
}
.child_wrap_Column {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.h2_Column {
  font-size: 40px;
  font-weight: bolder;
  height: 90px;
  display: flex;
  align-items: center;
}
.header_Column {
  display: flex;
  margin-left: 80px;
}
.head1_Column,
.head2_Column,
.head3_Column,
.head4_Column,
.head5_Column {
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 80px;
  min-width: 130px;
  max-width: 250px;
  align-items: center;
  font-family: comfortaa;
  font-weight: 900;
}
.title_child5_Column {
  background-color: #d7f0fe;
  text-align: center;
  min-width: 130px;
  height: 33px;
  padding: 7px 0px;
}
.title_child_Column {
  background-color: #d7f0fe;
  text-align: center;
  min-width: 130px;
  height: 33px;
  padding: 7px 0px;
  border-right: 3px solid black;
}
.minus1_Column,
.minus2_Column,
.minus3_Column,
.minus4_Column,
.minus5_Column {
  background-color: #ffd6d6;
  text-align: center;
  padding: 9px 18px;
  border-radius: 50%;
  font-weight: 1500;
  font-size: 20px;
}
.table_Column {
  display: flex;
  margin-left: 250px;
  border-radius: 8px;
  width: 500px;
  height: 250px;
  background-color: #e4e5ff;
}
.container_Column{
  display: flex;
  gap: 40px;
}
.btn_Column{
  background-color: azure;
  border: none;
  width: 150px;
  height: 40px;
  padding: 7px 7px;
  border-radius: 7px;
  margin-top: 40px;
  font-weight: 500;
}
.newColumn{
  width: 170px;
  height: 40px;
  padding-left: 10px;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  outline: none;
}
.type_Column{
  border: none;
  width: 170px;
  height: 40px;
  border-radius: 8px;
  outline: none;
  font-size: 17px;
  padding-left: 10px;

}
.opt_Column{
  background-color: #e8d8ed;
  font-size: 15px;
}
.dropdown_Column::after {
  content: "";
}
.dropdown_Column select {
  appearance: none;
  background-color: transparent;
  border: 1px solid #999;
  padding: 5px 30px 5px 10px;
  width: 200px;
}

.title_child_Column {
  background-color: #d7f0fe;
  width: 200px;
  text-align: center;
  height: 33px;
  padding: 7px 0px;
  border-right: 3px solid black;
}

