.wrapper_Column {
  width: 100vw;
  height: 100vh;
  font-family: comfortaa;
  padding: 20px;
  background-color: var(--mayo);
}
.child_wrap_Column {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.h2_Column {
  font-size: 40px;
  font-weight: bolder;
  height: 90px;
  display: flex;
  align-items: center;
  color: var(--tar);
}
.header_Column {
  display: flex;
  margin-left: 80px;
}
.head1_Column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 18px;
  height: 80px;
  min-width: 140px;
  max-width: 250px;
  align-items: center;
  font-family: comfortaa;
  font-weight: 900;
}

.title_child_Column {
  border-radius: 20px;
  background-color: var(--sea);
  text-align: center;
  width: 200px;
  height: 33px;
  padding: 7px 0px;
  margin: 5px;
  font-size: 22px;
}

.minus1_Column,
.minus2_Column,
.minus3_Column,
.minus4_Column,
.minus5_Column {
  background-color: var(--sunset);
  text-align: center;
  padding: 9px 18px;
  border-radius: 50%;
  font-weight: 1500;
  font-size: 20px;
  color: var(--tar);
}
.table_Column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 8px;
  width: 650px;
  height: 200px;
  background-color: var(--lavender);
  padding: 20px 20px;
  margin-left: 200px;
}
.container_Column{
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.btn_Column{
  background-color: azure;
  border: none;
  width: 200px;
  height: 40px;
  padding: 7px 7px;
  border-radius: 7px;
  font-weight: 700;
  font-family: "Comfortaa", cursive;
  font-size: 22px;
  margin-left: 200px
}
.newColumn{
  width: 210px;
  height: 40px;
  padding-left: 10px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  outline: none;
}
.newColumn::placeholder {
  color: var(--place);
  font-style: italic;
  font-family: "Comfortaa", cursive;
  font-weight: 600;
  font-size: 18px;
}
.type_Column{
  border: none;
  width: 170px;
  height: 40px;
  border-radius: 8px;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
  font-style: italic;
  font-family: "Comfortaa", cursive;
  font-weight: 600;

}
.opt_Column{
  background-color: #f8fdf8;
  font-style: italic;
  font-family: "Comfortaa", cursive;
  font-weight: 600;
  font-size: 16px;
}
.opt1_Column{
  background-color: #969191;
  font-style: italic;
  font-family: "Comfortaa", cursive;
  font-weight: 600;
  font-size: 12px;
}

.dropdown_Column select {
  padding: 5px 30px 5px 10px;
  width: 220px;
}



