
.th_STOCKS{
    padding: 15px;
    width: 250px;
    font-size: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.StocksTable{
    font-family: comfortaa;
    font-size: 16px;
    width: calc(100vw - 355px);
    height: 700px;
    margin-top: 20px;
    background-color: var(--cream);
    border-radius: 20px;
    margin-right: 20px;
    
}

.StocksInput[type="text"]{
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;

}

.StocksTable tr td:last-child,.AddTable tr td:last-child{
    border-right: none;
  }
.StocksTable tr th:last-child,.AddTable tr th:last-child{
    border-right: none;
  }

  .Stocks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:16px;
   
  }

  .AddTable{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.StocksAddButton{
    font-size: 25px;
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    margin-top: 20px
}

.StocksBottomTableWrapper{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.StocksInput{
    border: 1px solid black;
}

.StocksHeader{
  font-size: 40px;
  font-weight: bolder;
  height: 90px;
  display: flex;
  align-items: center;
  font-family: comfortaa;
}

.AddTableInputRow{
  display: flex;
  gap: 30px;

}

.StocksInputForm{
  background-color: var(--sea);
  padding: 20px;
}

.row_stocks {
  height: 30px;
  padding-left: 10px;
}