.th_STOCKS{
    padding: 15px;
    width: 250px;
    font-size: 18px;
    border-bottom: 1px dotted black;
    text-align: left;
}

.td_STOCKS {
  padding-left: 8px;
}

.StocksTable{
    font-family: comfortaa;
    font-size: 16px;
    width: 100%;
    height: 700px;
    margin-top: 20px;
    background-color: var(--cream);
    border-radius: 20px;    
}

.StocksInput[type="text"]{
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    color: var(--tar);
    background-color: var(--mayo);

}

  .Stocks{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    background-color: var(--mayo);
    padding: 15px;
  }

  .AddTable{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.StocksAddButton{
    font-size: 15px;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
}

.StocksAddButton:hover {
  box-shadow: 0px 0px 2px black;
}

.StocksBottomTableWrapper{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.StocksInput{
  border: none;
  margin: 5px; 
}

.StocksHeader{
  font-size: 40px;
  font-weight: bolder;
  height: 90px;
  display: flex;
  align-items: center;
  font-family: comfortaa;
}

.AddTableInputRow{
  display: flex;
  gap: 30px;

}

.StocksInputForm{
  background-color: var(--sea);
  padding: 20px;
  border-radius: 18px;
  max-width: 97%;
}

.row_stocks {
  height: 30px;
  padding-left: 10px;
}

.td_icon_stocks{
  width: 50px;
  text-align: center;
  border-radius: 999px;
  border: 1px solid var(--cream);
}

.td_icon_stocks:hover{
  border: 1px solid black;
}