.container_statistics {
    padding: 20px;
    width: 100vw;
    height: calc(100vh - 40px);
    font-family: comfortaa;
    display: flex;
    flex-direction: column;
}

.header_statistics {
    font-size: 40px;
    font-weight: bolder;
    height: 90px;
    display: flex;
    align-items: center;
}

.head_statistics {
    font-size: 30px;
    text-align: left;
    padding: 10px;
}

.content_statistics {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
}

.single-datas_statistics {
    display: flex;
    justify-content: space-between;
}

.data-child_statistics {
    height: 120px;
    width : 280px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.green_statistics {
    background-color: #D8FDD9;
}

.blue_statistics {
    background-color: #D7F0FE;
}

.yellow_statistics {
    background-color: #FEF1D7;
}

.purple_statistics {
    background-color: #E4E5FF;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.red_statistics {
    background-color: #FFD6D6;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.green_statistics:hover, .blue_statistics:hover, .yellow_statistics:hover, .red_statistics:hover, .purple_statistics:hover {
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
}

.info_statistics {
    font-size:20px;
    font-weight: bold;
}

.info-data_statistics {
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: bolder;
}

.tables_statistics {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

/* table {
    border-radius: 10px;
    width: 100%;
    text-align: center;
} */

.red_statistics:last-child,.purple_statistics:last-child {
    width: 90%;
}

.td_statistics{
    padding: 8px;
    width: 100px;
}

.th_statistics{
    padding: 10px;
    border-bottom: 1px dotted black;
}