.container_statistics {
    padding: 20px;
    width: 100vw;
    height: calc(100vh - 40px);
    font-family: comfortaa;
    display: flex;
    flex-direction: column;
    color: #000000;
    background-color: var(--mayo);
}

.header_statistics {
    font-size: 40px;
    font-weight: bolder;
    height: 90px;
    display: flex;
    align-items: center;
    color: var(--tar);
}

.head_statistics {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    color: var(--tar);
}

.content_statistics {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
}

.single-datas_statistics {
    display: flex;
    justify-content: space-between;
}

.statistics_icons {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.statistics_logos {
    font-size: 30px;
}

.data-child_statistics {
    height: 120px;
    width : 280px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.green_statistics {
    background-color: var(--pista);
}

.blue_statistics {
    background-color: var(--sea);
}

.yellow_statistics {
    background-color: var(--cream);
}

.purple_statistics {
    background-color: var(--lavender);

}

.red_statistics {
    background-color: var(--sunset);

}

.green_statistics:hover, .blue_statistics:hover, .yellow_statistics:hover, .red_statistics:hover, .purple_statistics:hover {
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
}

.bottom_statistics1 {
    border-radius: 20px;
    width: 100%;
}

.bottom_statistics2 {
    border-radius: 20px;
    width: 100%;
}

.info_statistics {
    font-size:20px;
    font-weight: bold;
}

.info-data_statistics {
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: bolder;
}

.tables_statistics {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.td_statistics{
    padding: 8px;
    width: 100px;
}

.th_statistics{
    padding: 10px;
    border-bottom: 1px dotted black;
    text-align: left;
}

.flex_statistics1 {
    flex: 0.6;
}

.flex_statistics2 {
    flex: 0.4;
}