@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Pacifico&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
:root {
    --mayo :#ffffff;
    --tar :#000000;
    --blackish :#2e2e2e;
    --sea :#d7f0fe;
    --sunset: #ffd6d6;
    --lavender: #e4e5ff;
    --pista: #D8FDD9;
    --cream: #FEF1D7;
    --place: #8f8d90;
}